@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gistesy';
  src: url('./assets/fonts/Gistesy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}