@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gistesy';
  src: url('./assets/fonts/Gistesy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 0.5rem solid #043B8E;
  border-top: 0.5rem solid #FFD600;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 2s linear infinite;
}